# https://editorconfig.org

# top-most EditorConfig file for this project
root = true

# Unix-style newlines with a newline ending every file
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Some filetypes default to 4-space indents
[*.py]
indent_size = 4

# Some files / file types default to tab indents
[Makefile]
indent_style = tab
